<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="submit()">
    <app-profile-form formControlName="profile"></app-profile-form>
    <app-password-form formControlName="password"></app-password-form>
    <div class="form-group">
      <label for="zipcode">Zip code</label>
      <input [textMask]="{ mask: mask }" type="text" id="zipcode" class="form-control" formControlName="zipcode" />
    </div>
    <button class="btn btn-primary">Sign Up</button>
  </form>
  <p>Form is {{ signupForm.valid ? 'Valid' : 'Invalid' }}</p>
  <pre>{{ signupForm.value | json }}</pre>
</div>
